h1.title-chat-group{
    text-align: center;
            
            color: #cc0066;
            margin-top: 50px;
            font-weight: bold;
}
div.chat-group {
    width: 90%;
    margin: 0 auto;
    // box-shadow: 15px 15px 25px #a6a6a6 ;
    div.content {
        height: 600px;
        width: 90%;
        margin: 0 auto;
        overflow-y: scroll;
    }
    div.controller {
        width: 60%;
        margin: 0 auto;
        margin-top: 60px;
        input {
            border: 2px solid #0099ff;
            width: 70%;
            height: 40px;
            outline: none;
            border-radius: 10px;
        }
        button {
            width: 15%;
            margin-left: 5%;
            height: 40px;
            border-radius: 10px;
            outline: none;
            background: #0099ff;
            border: none;
            margin-bottom: 50px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1.title-chat-group{
        text-align: center;
                font-size: 50px;
                color: #cc0066;
                margin-top: 50px;
                font-weight: bold;
    }
    div.chat-group {
        width: 90%;
        margin: 0 auto;
        // box-shadow: 15px 15px 25px #a6a6a6 ;
        div.content {
            height: 600px;
            width: 90%;
            margin: 0 auto;
            overflow-y: scroll;
        }
        div.controller {
            width: 60%;
            margin: 0 auto;
            margin-top: 60px;
            input {
                border: 2px solid #0099ff;
                width: 60%;
                height: 40px;
                outline: none;
                border-radius: 10px;
            }
            button {
                width: 15%;
                margin-left: 5%;
                height: 40px;
                border-radius: 10px;
                outline: none;
                background: #0099ff;
                border: none;
                margin-bottom: 50px;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    h1.title-chat-group{
        text-align: center;
                font-size: 50px;
                color: #cc0066;
                margin-top: 50px;
                font-weight: bold;
    }
    div.chat-group {
        width: 90%;
        margin: 0 auto;
        // box-shadow: 15px 15px 25px #a6a6a6 ;
        div.content {
            height: 600px;
            width: 90%;
            margin: 0 auto;
            overflow-y: scroll;
        }
        div.controller {
            width: 100%;
            margin: 0 auto;
            margin-top: 60px;
            input {
                border: 2px solid #0099ff;
                width: 70%;
                height: 40px;
                outline: none;
                border-radius: 10px;
            }
            button {
                width: 15%;
                margin-left: 5%;
                height: 40px;
                border-radius: 10px;
                outline: none;
                background: #0099ff;
                border: none;
                margin-bottom: 50px;
            }
        }
    }
}