div.card-income-spending {
    width: 60%;
    display: flex;
    box-shadow: 15px 15px 25px #a6a6a6;
    margin: 60px auto;
    border-radius: 5px;
    div.left {
        width: 50%;
        display: flex;
        div.line{
            width: 2%;
            height: 100%;
            margin: 0;
            padding: 0;
            background: #00b33c;
            
        }
        div.content {
            p {
                font-size: 18px;
                font-weight: bold;
                color: #ff0066;
                margin: 10px 0;
                margin-left: 50px;
                &:last-child{
                    font-weight: normal;
                    color: black;
                }
            }
        }
        
    }
    div.right{
        width: 50%;
        display: flex;
        
        p {
            font-weight: bold;
            margin: auto 0;
            width: 50%;
        }
        i {
            width: 50%;
            margin: auto 0;
            margin-left: 50px;
            font-size: 30px;
            color: #ff0066;
            cursor: pointer;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    div.card-income-spending {
        width: 90%;
        display: flex;
        box-shadow: 15px 15px 25px #a6a6a6;
        margin: 60px auto;
        border-radius: 5px;
        div.left {
            width: 60%;
            
            p {
                font-size: 18px;
                font-weight: bold;
                color: #ff0066;
                margin: 10px 0;
                margin-left: 50px;
                &:last-child{
                    font-weight: normal;
                    color: black;
                }
            }
        }
        div.right{
            width: 40%;
            display: flex;
            
            p {
                font-weight: bold;
                margin: auto 0;
                width: 50%;
            }
            i {
                width: 50%;
                margin: auto 0;
                margin-left: 50px;
                font-size: 30px;
                color: #ff0066;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    div.card-income-spending {
        width: 90%;
        height: 150px;
        display: flex;
        box-shadow: 15px 15px 25px #a6a6a6;
        margin: 60px auto;
        border-radius: 5px;
        div.left {
            width: 60%;
            display: flex;
            margin: auto 0;
            div.line{
                width: 2%;
                height: 100%;
                margin: 0;
                padding: 0;
                background: #00b33c;
                
            }
            div.content {
                p {
                    font-size: 18px;
                    font-weight: bold;
                    color: #ff0066;
                    margin: auto 0;
                    margin-left: 50px;
                    &:last-child{
                        font-weight: normal;
                        color: black;
                    }
                }
            }
            
        }
        div.right{
            width: 40%;
            display: flex;
            
            p {
                font-weight: bold;
                margin: auto 0;
                width: 50%;
            }
            i {
                width: 50%;
                margin: auto 0;
                margin-left: 50px;
                font-size: 30px;
                color: #ff0066;
                cursor: pointer;
            }
        }
    }
}