h1.title-my-groups {
    text-align: center;
            font-size: 50px;
            color: #cc0066;
            margin-top: 50px;
            font-weight: bold;
}
ul.pagination {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    li {
        a {
            text-decoration: none;
            color: #ff0066;
            display: block;
            font-weight: bold;
            padding: 5px 10px;
        }
    }
}