div.card-stats-admin {
    width: 350px;
    height: 200px;
    margin: 20px 50px;
    padding: 0;
    box-shadow: 10px 10px 15px #bfbfbf;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.card-stats-admin-left {
        // margin-top:70px;
        margin-left: 15%;
        p {
            font-weight: bold;
            font-size: 30px;
            margin: 0;
            padding: 0;
        }
    }
    div.card-stats-admin-right {
        // margin-top: 75px;
        margin-right: 15%;
        p {
            i {
                font-size: 30px;
                color: #ff0066;
            }
        }
    }
}